@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500&family=Volkhov:wght@400;700&display=swap');
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --main-color: #ff0000;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* navbar */

.fa-dot-circle {
    animation: dot 2s linear infinite;
    -webkit-animation: dot 2s linear infinite;
}

@keyframes dot {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    0% {
        color: var(--main-color);
        transform: scale(1.1);
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}


/* footer part */

.footer {
    margin-top: auto;
    background: #000;
    color: #ddd;
    line-height: 4rem;
}

.footer p {
    line-height: 4rem;
    margin-bottom: 0;
}