
    <!-- footer part start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <p>&copy; copyright and all rights reserved. Developed by <a href="/contact">Mahabur Rahman</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer part end -->
