// media query apply
//============1500px=========
@media(max-width: 1500px) {
    #price {
        min-height: 650px;
    }
}

//============1200px=========
@media(max-width: 1400px) {
    #about {
        .about-img {
            .img3 {
                left: 26%;
            }
        }
    }
}

//============1199px==========
@media(max-width: 1199px) {
    header {
        // banner part
        .banner {
            .banner-content {
                h1 {
                    font-size: 43px !important;
                }
                p {
                    font-size: 18px;
                }
            }
        }
    }
    // about 
    #about {
        .about-img {
            img {
                width: 220px;
            }
            .img3 {
                top: 13%;
                left: 19%;
                height: 300px;
                width: 296px;
            }
        }
    }
    #product {
        .nav {
            .nav-item {
                width: 22%;
            }
        }
        .tab-content {
            h4 {
                font-size: 21px;
            }
        }
    }
}

//============1160px==========
@media(max-width: 1152px) {
    #price {
        .video-wrap {
            video {
                width: 150%;
            }
        }
    }
}

//============991px==========
@media(max-width: 991px) {
    #about {
        .about-img {
            .img3 {
                left: 20%;
            }
        }
    }
    #product {
        .nav {
            .nav-item {
                width: 67%;
            }
        }
        .tab-content {
            h4 {
                font-size: 15px;
            }
            p {
                font-size: 12px;
            }
        }
    }
    #price {
        .dark-overlay {
            height: 350%;
        }
        .video-wrap {
            video {
                width: 350%;
            }
        }
        .card {
            margin: 15px;
        }
    }
}

//===========890px==========
@media(max-width: 890px) {
    #price {
        .video-wrap {
            video {
                width: 400%;
            }
        }
    }
}

//============820px==========
@media(max-width: 820px) {
    header {
        // banner 
        .banner {
            .banner-content {
                h1 {
                    font-size: 40px !important;
                }
            }
        }
    }
}

//============780px==========
@media(max-width: 784px) {
    #price {
        .video-wrap {
            video {
                width: 450%;
            }
        }
    }
}

// ===========767px===========
@media(max-width: 767px) {
    header {
        // banner 
        .banner {
            .banner-content {
                h1 {
                    font-size: 29px !important;
                }
                p {
                    font-size: 15px;
                }
            }
        }
    }
    #about {
        .about-img {
            .img3 {
                left: 21%;
            }
        }
    }
    #product {
        .nav {
            .nav-item {
                width: 93%;
            }
        }
        .tab-content {
            h4 {
                font-size: 25px;
            }
            p {
                font-size: 18px;
            }
        }
    }
    #price {
        .video-wrap {
            video {
                width: 850%;
            }
        }
    }
}

// ===========575px===========
@media(max-width: 575px) {
    header {
        min-height: 80vh;
        .navbar {
            padding: 0.5rem 3rem !important;
            .navbar-brand {
                i {
                    font-size: 2.5rem;
                }
            }
            .navbar-toggler {
                outline: none !important;
                border: none !important;
            }
        }
        .navbar-nav {
            margin-top: 20px;
        }
        .banner {
            .banner-content {
                h1 {
                    font-size: 23px !important;
                }
                p {
                    font-size: 13px;
                }
            }
        }
    }
    #about {
        .about-img {
            .img3 {
                left: 23%;
            }
        }
    }
}

// ===========523px===========
@media(max-width: 523px) {
    #product {
        .nav {
            .nav-item {
                i {
                    font-size: 20px;
                }
                span {
                    font-size: 13px;
                }
            }
        }
    }
}

// ===========515px===========
@media(max-width: 515px) {
    #about {
        .about-img {
            .img3 {
                left: 20%;
            }
        }
    }
}

// ===========480px===========
@media(max-width: 480px) {
    header {
        .banner {
            .banner-content {
                h1 {
                    font-size: 42px !important;
                }
            }
        }
    }
    #about {
        .about-img {
            img {
                width: 200px;
                margin-top: -30px;
            }
            .img3 {
                display: none;
            }
        }
    }
    #product {
        .nav {
            .nav-item {
                width: 100%;
            }
            .nav-item {
                span {
                    display: none;
                }
            }
        }
    }
}

// ===========415px===========
@media(max-width: 415px) {
    #footer {
        h2 {
            font-size: 23px;
        }
        p {
            font-size: 14px;
        }
    }
}

// ===========360px===========
@media(max-width: 360px) {
    #product {
        .tab-content {
            h4 {
                font-size: 23px;
            }
        }
    }
}