    // font-family: 'Shadows Into Light', cursive;
    * {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Big Shoulders Inline Text', cursive;
    }
    
    // start common css
    header {
        // navbar start 
        .navbar {
            background: rgba(0, 0, 0, 0.3);
            .nav-link {
                font-size: 22px;
                font-family: 'Shadows Into Light', cursive;
                ;
            }
        }
        // navbar end 
        position: relative;
        min-height: 90vh;
        background: linear-gradient(rgba(0, 0, 0, 0.91), rgba(0, 0, 0, 0.91)),
        url(../img/banner/banner.jpg) no-repeat center center / cover;
        background-attachment: fixed;
        // banner part start
        .banner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            width: 50%;
            // banner content 
            .banner-content {
                // animate heading 
                h1 {
                    font-size: 45px;
                    animation-name: slide;
                    animation-duration: 3s;
                }
                p {
                    animation-name: slide;
                    animation-duration: 4s;
                    animation-delay: .8s;
                }
                // animation create 
                @keyframes slide {
                    0% {
                        opacity: 0;
                        transform: translateX(-1000px);
                        -webkit-transform: translateX(-1000px);
                        -moz-transform: translateX(-1000px);
                        -ms-transform: translateX(-1000px);
                        -o-transform: translateX(-1000px);
                    }
                    100% {
                        opacity: 1;
                        transform: translateX(0);
                        -webkit-transform: translateX(0);
                        -moz-transform: translateX(0);
                        -ms-transform: translateX(0);
                        -o-transform: translateX(0);
                    }
                }
            }
        }
    }
    
    // end of common css
    // stat about us part
    #about {
        background: rgba(255, 255, 255, 0.1);
        .about-content {
            h2 {
                font-family: 'Shadows Into Light', cursive;
                font-size: 40px;
                color: #000;
                font-size: 3rem;
                font-weight: 900;
            }
            p {
                color: #000;
                font-weight: bold;
            }
            // button 
            .btn {
                background: #000;
                color: #fff;
                position: relative;
                border-radius: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                -o-border-radius: 0;
                z-index: 1;
                transition: .3s;
                -webkit-transition: .3s;
                -moz-transition: .3s;
                -ms-transition: .3s;
                -o-transition: .3s;
            }
            .btn:hover {
                color: #000;
                border: 0 !important;
            }
            .btn:after {
                content: "";
                position: absolute;
                height: 100%;
                width: 0;
                top: 0;
                left: 0;
                background: rgba(214, 214, 184, 0.9);
                z-index: -1;
                transition: .5s;
                -webkit-transition: .5s;
                -moz-transition: .5s;
                -ms-transition: .5s;
                -o-transition: .5s;
            }
            .btn:hover:after {
                width: 100%;
            }
        }
        // about img 
        .about-img {
            position: relative;
            img {
                width: 250px;
                transition: .5s;
                -webkit-transition: .5s;
                -moz-transition: .5s;
                -ms-transition: .5s;
                -o-transition: .5s;
            }
            .img3 {
                position: absolute;
                top: 19%;
                left: 22%;
            }
            // scale increase of img 
            .img1:hover {
                cursor: pointer;
                transform: scale(1.2) rotate(10deg);
                -webkit-transform: scale(1.2) rotate(10deg);
                -moz-transform: scale(1.2) rotate(10deg);
                -ms-transform: scale(1.2) rotate(10deg);
                -o-transform: scale(1.2) rotate(10deg);
            }
            .img2:hover {
                cursor: pointer;
                transform: scale(1.2) rotate(10deg);
                -webkit-transform: scale(1.2) rotate(10deg);
                -moz-transform: scale(1.2) rotate(10deg);
                -ms-transform: scale(1.2) rotate(10deg);
                -o-transform: scale(1.2) rotate(10deg);
            }
            .img3:hover {
                cursor: pointer;
                transform: scale(1.2) rotate(10deg);
                -webkit-transform: scale(1.2) rotate(10deg);
                -moz-transform: scale(1.2) rotate(10deg);
                -ms-transform: scale(1.2) rotate(10deg);
                -o-transform: scale(1.2) rotate(10deg);
            }
            .img4:hover {
                cursor: pointer;
                transform: scale(1.2) rotate(10deg);
                -webkit-transform: scale(1.2) rotate(10deg);
                -moz-transform: scale(1.2) rotate(10deg);
                -ms-transform: scale(1.2) rotate(10deg);
                -o-transform: scale(1.2) rotate(10deg);
            }
            .img5:hover {
                cursor: pointer;
                transform: scale(1.2) rotate(10deg);
                -webkit-transform: scale(1.2) rotate(10deg);
                -moz-transform: scale(1.2) rotate(10deg);
                -ms-transform: scale(1.2) rotate(10deg);
                -o-transform: scale(1.2) rotate(10deg);
            }
        }
    }
    
    // end of about us part
    // start products part 
    #product {
        font-family: 'Shadows Into Light', cursive;
        .nav {
            margin-bottom: 20px;
            .nav-item {
                border: none !important;
                background: #000;
                padding: 0 15px;
                outline: 0 !important;
                width: 20%;
            }
            .nav-link {
                background: #000;
                border: none;
                cursor: pointer;
                text-align: center;
            }
        }
    }
    
    // end of products part
    // start video part
    #price {
        font-family: 'Shadows Into Light', cursive;
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        .video-wrap {
            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: auto;
                z-index: -1;
            }
        }
        .dark-overlay {
            background: #000;
            opacity: 0.5;
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
        }
        // card start 
        .card {
            position: relative;
            box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.7);
            overflow: hidden;
            .back {
                position: absolute;
                top: -100%;
                height: 100%;
                width: 100%;
                color: #fff;
                background: rgba(0, 0, 0, 0.8);
                opacity: 0;
                transition: .5s;
                // back content          
                .back-content {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                }
            }
        }
        // card hover effect
        .card:hover .back {
            opacity: 1;
            top: 0;
        }
        .card:hover {
            border: none !important;
        }
        // price button
        .btn {
            position: relative;
            font-size: 25px;
            margin-top: 20px;
            background: #000;
            color: #fff;
            z-index: 1;
            transition: .5s;
            -webkit-transition: .5s;
            -moz-transition: .5s;
            -ms-transition: .5s;
            -o-transition: .5s;
        }
        .btn:after {
            content: "";
            position: absolute;
            background: rgb(145, 125, 125);
            height: 100%;
            width: 0;
            top: 0;
            left: 0;
            z-index: -1;
            transition: .5s;
            -webkit-transition: .5s;
            -moz-transition: .5s;
            -ms-transition: .5s;
            -o-transition: .5s;
        }
        .btn:hover:after {
            width: 100%;
        }
    }
    
    // end of video part
    // start contact part
    #contact {
        font-family: 'Shadows Into Light', cursive;
        .btn {
            position: relative;
            background: #000;
            color: #fff;
            transition: .3s;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
        }
        .btn:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            background: rgba(171, 197, 24, 0.5);
            transition: .3s;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
        }
        .btn:hover:after {
            width: 100%;
            border: none;
        }
    }
    
    // end of contact part
    // start footer part
    #footer {
        background: #000;
        font-family: 'Shadows Into Light', cursive;
        position: relative;
        .social-link {
            ul li a {
                font-size: 25px;
            }
        }
        // top sign 
        .top-sign {
            a {
                position: absolute;
                right: -15%;
                bottom: 0;
            }
        }
    }
    
    // end of footer part